<p>
  <strong>Borrower:</strong>
  <%= copy.borrower %>
</p>

<p>
  <strong>Due date:</strong>
  <%= copy.due_date %>
</p>

<p>
  <%= link_to "Edit Copy", edit_polymorphic_path([copy.book, copy]) %>
  <%= link_to "Destroy Copy", [copy.book, copy], data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
</p>