<div class="container m-6 p-1">
  <h1 class="title is-4">New Copy</h1>
  <h2 class="subtitle is-6"> Enter the following details to create a new copy entry </h2>
  <%= render "copies/form", copy: @copy %>
</div>