<div class="m-5">
  <h1 class="title">My Books</h1>
  <div class="m-3">
    <% sorted_books = @books.sort_by &:title %>
    <% for book in sorted_books %>
      <%= link_to book.title, book %><br>
    <% end %>
  </div>

  <div class="mt-5">
    <%= link_to "New Book", new_book_path, class: "button is-link" %>
  </div>
</div>